[Unit]
Description=Raspberry Pi Continuous Recording with rpicam (1h split)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/rpicam-record
ExecStart=/usr/local/bin/rpicam-record.sh
Restart=always
RestartSec=5
User=__RUN_AS_USER__
SupplementaryGroups=video
KillMode=process

[Install]
WantedBy=multi-user.target
