# Recording root directory
BASE_ROOT=/mnt/recordings

# rpicam-vid settings
CODEC=h264
OUTPUT_EXT=h264
WIDTH=1280
HEIGHT=720
FRAMERATE=15
NO_PREVIEW=1

# If startup happens very close to the hour boundary, treat first segment as 1 hour.
MIN_START_SECONDS=5